<div class="page">
	<table width='100%' border='0' cellspacing='0' cellpadding='0' >
		<a href="#" style='display:none;' class='page_first'>首页</a>
        <a href="javascript:void(0)" class='page_pre'>上一页</a>
        <span id="dynamicNum">
        	<a href='javascript:void(0)' style="display:none" callback="callFn">  </a>
        </span>
        <a href="javascript:void(0)" class='page_next'>下一页</a>
        <a href="#" style='display:none;' class='page_last'>尾页</a>
	</table>
</div>
<script type="text/javascript" src="${rc.contextPath}/cnten/js/page_footer.js"></script>